<div class="mdl-grid">
	{{#mdl-card title='Foo Route'}}
	  <div class="mdl-card__supporting-text">
	    <h5>This is the Foo Route</h5>
	  </div>
	  {{#mdl-card-actions}}
	    {{mdl-button text='Test Button'}}
	  {{/mdl-card-actions}}
	{{/mdl-card}}
</div>
